<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <% for(let i= 0; i<products.length; i++){ %>
      <div>     <%= products[i].product_name   %> 
      
              <%=   products[i].price %>
              <%= products[i].id %>
      <a href="/product/<%= products[i].id %>" >Edit</a>
      <a href="/productDelete/<%= products[i].id %>" >Delete</a>
      
        </div>  
        
  <%  } %>
     
     
    


</body>
</html>